<article style="padding: 1rem;">
  <h1 class="checkinSummary">
    <%= message %>
  </h1>

  <ul>
    <%  insights.each(function(element) { %>
    <li data-state="new">
      <a data-cid="<%= element.cid %>">
        <em class="aside" style="
            background: url('<%= element.get('points').image.prefix + element.get('points').image.sizes[0] + element.get('points').image.name %>') no-repeat center center transparent;
          ">
        </em>
        <dl>
          <dt>
            <%= element.get('points').message %>
          </dt>
          <dd>
            <time>+<%= element.get('points').points %></time>
            <span>points</span>
          </dd>
        </dl>
      </a>
    </li>
    <% }); %>
  </ul>
</article>
