<% var location = get('location'); %>
<h2 class="venue">
  <% if (location.address !== undefined) { %>
    <%= location.address %>,
  <% } %>
  <% if (location.city !== undefined) { %>
    <%= location.city %>,
  <% } %>
  <% if (location.country !== undefined) { %>
    <%= location.country %>
  <% } %>
</h2>

<article style="padding: 1rem;">
<form>
    <fieldset>
     <legend>Shout</legend>
     <section>
       <p><input type="text" id="checkin-shout" placeholder="Type here"></p>
     </section>
    </fieldset>
    <fieldset>
      <legend>Share</legend>
      <section>
        <p>
          <label>
            <input id="facebookShare" type="checkbox" class="share" data-media="facebook">
            <span></span>
          </label>
          <label for="facebookShare">Facebook
          </label>
        </p>
        <p>
          <label>
            <input id="twitterShare" type="checkbox" class="share" data-media="twitter">
            <span></span>
          </label>
          <label for="twitterShare">Twitter
          </label>
        </p>
      </section>
    </fieldset>
    <button class="recommend" style="margin-bottom: 0; margin-top: 0.9rem">Checkin</button>
</form>
</article>
