div[role="main"] {
  background-color: white;
  height: -moz-calc(100% - 5rem); 
  overflow-y: auto;
}

section[role="region"]{
  height: 100%;
}

body[role="application"] > section[role="region"] {
  position: fixed;
}

body[role="application"] section[role="region"][data-state="right"] {
  transform: translateX(100%);
  animation: 0.4s ease 0s normal forwards 1 currentToRight;
}

section[role="region"] > header:first-child .icon-update {
  background-image: url("../components/gaia-bb/widgets/toolbars/images/icons/update.png");
}

section[role="region"] > header:first-child .icon-search {
  background: url("../components/gaia-bb/widgets/toolbars/images/icons/search.png") no-repeat scroll center center transparent;
  !background-image: url("../components/gaia-bb/widgets/toolbars/images/icons/search.png");
}

/* repair drawer list style overrided by list component */
body[role="application"] > nav .inner > ul > li {
  display: inline;
}

@keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

section[role="region"] > header:first-child .icon-gps-status {
  background: url("../img/GPS_ico.png") no-repeat scroll center center transparent;
}

section[role="region"] > header:first-child .waiting {
  animation-name: blink;  
  animation-iteration-count: infinite;  
  animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  animation-duration: 1.7s;
}
